---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/blog-placeholder-1.jpg' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
<noscript>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
  />
</noscript>

<!-- Amplitude -->
<script src="https://cdn.amplitude.com/libs/analytics-browser-2.11.9-min.js.gz">
  // @ts-nocheck
  window.amplitude.init('b4d59cc0455bed171cb3ab769daa5da5', {
    fetchRemoteConfig: true,
    autocapture: true,
  });
</script>
<script>
  (function() {
    const bot = document.createElement('script');
    bot.type = 'text/javascript';
    bot.async = true;
    bot.setAttribute('data-endpoint', 'https://chatbot.gensapps.io/be');
    bot.dataset.greeting = '안녕하세요. 무엇을 도와드릴까요?';
    bot.src = 'https://chatbot.gensapps.io/be/client/chatbot.js?apiKey=79e4477083cbcf02c022abc099040ea7,7490a714a6b92b1d7524fa4d0a735554';
    document.head.appendChild(bot);
})();
</script>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Google Search Console -->
<meta
  name="google-site-verification"
  content="w_QxcazC0OW1nS7-zXcUKos6sQOfPoeUZ6AercQkvxg"
/>
