---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';
import '../styles/markdown.css';

type Props = CollectionEntry<'post'>['data'];
const { title, description, pubDate, updatedDate, heroImage, draft } =
  Astro.props;
---

<html lang="kr">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="mx-auto max-w-2xl bg-[--bg] px-5 py-14 text-[--text]">
    <Header isGradation />
    <main class="markdown">
      <article>
        {
          draft && import.meta.env.DEV && (
            <div style="padding: 8px; background: #ffeeba; color: #856404; border-radius: 4px; margin-bottom: 1em;">
              이 포스트는 초안 상태입니다.
            </div>
          )
        }
        {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
        <h1 class="text-[40px] font-black leading-[44px] text-[--title] pb-0">
          {title}
        </h1>
        <p class="mt-2 text-[13px] text-gray-700 dark:text-gray-300">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div>
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </p>
        <slot />
      </article>
    </main>
  </body>
</html>
